{% extends './template.njk' %}
{% block bodyclass %}  {% endblock %}
{% block title %} CV {% endblock %}


{% block base %}

    <div class="container">
        <div class="row">
            <div class="col-sm-4 sidebar">{% include "./sidebar.njk" %}</div>
            <div class="col-sm-8 mainSection">{% include "./mainSection.njk" %}</div>
        </div>
    </div>


    {{ forms.createModal("myModal") }}

{% endblock %}
