<section class="rounded skills">
    {#<button type="button" data-toggle="modal" data-target="#myModal" data-skils="all"> All </button>#}
    <div class="row">
        <div class="col-md-2 icon">
            <span class="glyphicon glyphicon-briefcase" data-toggle="modal" data-target="#myModal" data-skils="all"></span>
        </div>

        <div class="col-md-9">
            <div class="row">
            {% for skil in skils %}
                {% set length = skil.data.length if skil.data.length < 4 else 4 %}
                <div class="col-md-4 skills-data">
                    <h3 class="header" data-toggle="modal" data-target="#myModal" data-skils="{{ skil.title }}">{{ skil.title }}</h3>
                    <ul>
                        {% for i in range(0, length) %}
                            <li>{{ skil.data[i][1] }}</li>
                        {% endfor %}
                        <li><a class="more" href="#" data-toggle="modal" data-target="#myModal" data-skils="{{ skil.title }}">more...</a></li>
                    </ul>
                 </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="rounded experience mt-20">
    <div class="row">
        <div class="col-md-2 icon">
            <span class="glyphicon glyphicon-briefcase"></span>
        </div>
        <div class="col-md-9">
            <h2>
                {{ experience.title }}
            </h2>
            {% for data in experience.data %}
                <div class="">
                    <div class="row mt-2">
                        <div class="col-md-6">
                            {{ data.position }}
                            <small>{{ data.positionExtra }}</small>
                        </div>
                        <div class="col-md-6">
                            {{ data.fromTo }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ data.companyUrl }}" target="_blank">
                                {{ data.company }}
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ data.discretion }}
                        </div>
                    </div>
                    <hr class="dl-horizontal">
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="rounded seminars mt-20" >
    <div class="row">
        <div class="col-md-2 icon">
            <span class="glyphicon glyphicon-book"></span>
        </div>
        <div class="col-md-9">
            <h2>
                {{ seminars.title }}
            </h2>
            {% for data in seminars.data %}
                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            {{ data }}
                        </div>
                    </div>
                    <hr class="dl-horizontal">
                </div>
            {% endfor %}
        </div>
    </div>
</section>