<section class="rounded skills">
    {#<button type="button" data-toggle="modal" data-target="#myModal" data-skils="all"> All </button>#}
    <div class="row">
        <div class="col-md-2 icon">
            <i class="fas fa-cogs" data-toggle="modal" data-target="#myModal" data-skils="all"></i>
        </div>

        <div class="col-md-9">
            <div class="row">
            {% for skil in skils %}
                {% set length = skil.data.length if skil.data.length < 4 else 4 %}
                <div class="col-md-4 col-xs-6 skills-data">
                    <h3 class="header">{{ skil.title }}</h3>
                    <ul>
                        {% for i in range(0, length) %}
                            <li>{{ skil.data[i][1] }}</li>
                        {% endfor %}
                        <li class="hidden-sm hidden-xs"><a class="more" href="#" data-toggle="modal" data-target="#myModal" data-skils="{{ skil.title }}">more...</a></li>
                    </ul>
                 </div>
                {% if loop.index % 2 == 0  %}
                    <div class="clearfix visible-xs "></div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="rounded experience mt-20">
    <div class="row">
        <div class="col-md-2 icon">
            <span class="glyphicon glyphicon-briefcase"></span>
        </div>
        <div class="col-md-9">
            <h2>
                {{ experience.title }}
            </h2>
            {% for data in experience.data %}
                <div class="">
                    <div class="row mt-2">
                        <div class="col-md-8">
                            {{ data.position }}
                            <small>{{ data.positionExtra }}</small>
                        </div>
                        <div class="col-md-4 text-right">
                            {{ data.fromTo }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ data.companyUrl }}" target="_blank">
                                {{ data.company }}
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ data.discretion | join(". ")  }}
                        </div>
                    </div>
                    <hr class="dl-horizontal">
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="rounded seminars mt-20" >
    <div class="row">
        <div class="col-md-2 icon">
            <span class="glyphicon glyphicon-book"></span>
        </div>
        <div class="col-md-9">
            <h2>
                {{ seminars.title }}
            </h2>
            {% for data in seminars.data %}
                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            {{ data[0] }}, {{ data[1] }}
                        </div>
                    </div>
                    <hr class="dl-horizontal">
                </div>
            {% endfor %}
            <h2>
                {{ education.title }}
            </h2>
            {% for data in education.data %}
                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>
                                {{ data.fromTo }}, {{ data.title }}
                            </h4>
                            <div>
                                {{ data.info }}
                            </div>
                        </div>
                    </div>
                    <hr class="dl-horizontal">
                </div>
            {% endfor %}
        </div>
    </div>
</section>