<section class="rounded experience mt-20">
    <div class="row">
        <div class="col-md-2 icon">
            <span class="iconmoon icon-work"></span>
        </div>
        <div class="col-md-9">
            <h2>
                {{ experience.title }}
            </h2>
            {% for data in experience.data %}
                <div class="">
                    <div class="row">
                        <div class="col-md-12 company">
                            <a href="{{ data.companyUrl }}" target="_blank">
                                 - {{ data.company }}
                            </a>
                        </div>
                    </div>
                    {% for discretion in data.discretion %}
                        <div class="row mt-2">
                            <div class="col-md-8">
                                {{ discretion.position }}
                            </div>
                            <div class="col-md-4 text-right">
                                {{ discretion.fromTo }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{ discretion.title  }}
                            </div>
                        </div>
                        <hr class="dl-horizontal">
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>