<section class="rounded skills">
    {#<button type="button" data-toggle="modal" data-target="#myModal" data-skills="all"> All </button>#}
    <div class="row">
        <div class="col-md-2 icon">
            <span class="iconmoon icon-skills" data-toggle="modal" data-target="#myModal" data-skills="all"></span>
        </div>

        <div class="col-md-9">
            <h2>
                {{ skills.title }}
            </h2>
            <div class="row">

                {% for skill in skills.data %}
                    {% set length = skill.data.length if skill.data.length < 4 else 4 %}
                    <div class="col-md-4 col-xs-6 skills-data">
                        <h3 class="header">{{ skill.title }}</h3>
                        <ul>
                            {% for i in range(0, length) %}
                                <li>
                                    {{ skill.data[i][1] }}
                                    {% if loop.last %}
                                        <div class="hidden-sm hidden-xs"><a class="more" href="#" data-toggle="modal" data-target="#myModal" data-skills="{{ skill.title }}">view all</a></div>
                                    {% endif %}
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                    {% if loop.index % 2 == 0  %}
                        <div class="clearfix visible-xs "></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>